@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%; }

.img-list {
  text-align: center;
  padding: 0; }
  .img-list li {
    width: 30%;
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    box-sizing: border-box; }
    .img-list li img {
      width: 100%; }

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }
  .mask .img-box {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    background: #fff;
    position: relative;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 0%); }
    .mask .img-box img {
      width: 100%; }
    .mask .img-box .close {
      color: #000;
      background: rgba(255, 255, 255, 0.8);
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      position: absolute;
      top: -35px;
      right: -35px;
      font-size: 24px;
      font-weight: bold;
      border-radius: 50%;
      cursor: pointer;
      text-decoration: auto; }
      .mask .img-box .close:hover {
        background: white; }

.is-visible {
  display: block !important;
  overflow: auto; }

.fadein {
  animation: fadein 400ms ease-in-out; }

.fadeout {
  animation: fadeout 400ms ease-in-out; }

h3.title {
  border: 1px solid #15FFAF;
  border-radius: 30px;
  padding: 10px;
  font-size: 1.3em !important;
  font-weight: normal;
  text-align: center;
  color: #38E89F; }

.graph-two canvas {
  top: 35px; }

.graph-one h2 {
  text-align: left; }

.material-symbols-outlined {
  font-size: 30px !important;
  margin-right: 5px;
  color: #39de55; }

/*Timeline*/
#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }
  #timeline::before {
    /* this is the vertical line */
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #f0f8f2; }

@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em; }
    #timeline::before {
      left: 50%;
      margin-left: -2px; } }
.timeline-block {
  position: relative;
  margin: 2em 0; }
  .timeline-block:after {
    content: "";
    display: table;
    clear: both; }
  .timeline-block:first-child {
    margin-top: 0; }
  .timeline-block:last-child {
    margin-bottom: 0; }
  .timeline-block .timeline-year.right strong, .timeline-block .timeline-year.left strong {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -3px; }
  .timeline-block .timeline-year.right strong {
    margin-left: 50px; }
  .timeline-block .timeline-year.left strong {
    margin-left: -75px; }

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 4em 0; }
    .timeline-block:first-child {
      margin-top: 0; }
    .timeline-block:last-child {
      margin-bottom: 0; } }
@media only screen and (max-width: 1169px) {
  .timeline-block .timeline-year {
    margin-left: 4px; }
    .timeline-block .timeline-year.right strong {
      display: block;
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 0px; }
    .timeline-block .timeline-year.left strong {
      display: block;
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 0px;
      margin-left: -5px;
      margin-top: -40px;
      background: #fff; }
    .timeline-block .timeline-year.right strong {
      margin-left: -5px;
      margin-top: -40px;
      background: #fff; } }
.timeline-year {
  background: #88ea98;
  position: absolute;
  top: 15px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 2px rgba(0, 0, 0, 0.05); }

@media only screen and (min-width: 1170px) {
  .timeline-year {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; } }
.timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ebebeb;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  display: inline-block; }
  .timeline-content:after {
    content: "";
    display: table;
    clear: both; }
  .timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #ebebeb; }
  .timeline-content .percent {
    font-size: 2.5rem;
    font-weight: 300; }
  .timeline-content h5 {
    font-size: 1rem; }

@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    width: 45%; }
    .timeline-content::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: #ebebeb; }

  .timeline-block:nth-child(even) .timeline-content {
    float: right; }
    .timeline-block:nth-child(even) .timeline-content::before {
      top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: #ebebeb; } }
/* Data anime */
[data-anime] {
  opacity: 0;
  transition: .3s; }
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0); }

[data-anime-left] {
  opacity: 0;
  transform: translate3d(-40px, 0, 0);
  transition: .3s; }
  [data-anime-left].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0); }

[data-anime-right] {
  opacity: 0;
  transform: translate3d(40px, 0, 0);
  transition: .3s; }
  [data-anime-right].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0); }

/*ul*/
.link {
  list-style: none;
  padding: 0;
  width: 100%; }
  .link li {
    box-sizing: border-box;
    float: left; }
    .link li a {
      text-decoration: none;
      border: 1px solid #13B97D;
      color: #13B97D;
      display: inline-block;
      padding: 15px 10px;
      border-radius: 10px;
      margin: 10px; }
      .link li a:hover {
        background: #13B97D;
        color: #fff; }

#footwrap {
  display: block;
  float: left;
  width: 100%; }

/*# sourceMappingURL=layout.css.map */
